.input_radio:checked + .radio_label {
  background-color: white;
  color: hsl(216, 12%, 8%);
}

.radio_label {
  color: hsl(217, 12%, 63%);
  border-radius: 50%;
  background-color: hsl(216, 17%, 23%);
  padding-top: 17px;

  &:hover {
    color: hsl(216, 12%, 8%);
    background-color: hsl(25, 97%, 53%);
  }

  &:active {
    background-color: hsl(0, 0%, 100%);
    color: hsl(216, 12%, 8%)
  }
}